<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <h3>Latest Mars News</h3>
    <h4>{{ info.news_title }}</h3>
    <p>{{ info.news_paragraph }} </p>

    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h3>Featured Mars Image</h3>
        <img src={{ info.featured_image }} style="max-width:100%; max-height:100%;">
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <h3>Current Weather On Mars</h3>
            <p>{{ info.mars_weather }}</p>
          </div>

          <div class="col-md-12">
            <h3>Mars Facts</h3>
            <div>{{ info.mars_data_table|safe }}</div>
          </div>
        </div>
      </div>

    </div>

    <h3 style="text-align: center;">Mars Hemispheres</h3>
    <hr>

    <div class="row">
      {% for x in range(0,4) %}
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <img class="card-img-top" src={{ info.hemisphere_images[x].image_url }} style="max-width:100%; max-height:100%;">
            <div class="card-body">
              <h4 class="card-title">{{ info.hemisphere_images[x].title }} Hemisphere</h4>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</body>

</html>